

<div class="banner" style="background-image:  url( <%= image_url 'banner1.jpg' %>);">

       <div class="banner-content">
         <h1>La COCTELERA
          de Formentera</h1>
        <h2>Lleva el sabor de los  mejores cócteles a tu fiesta</h2>
      </div>
</div>



  <p> RESERVA AHORA</p>
  <h3>Ser barman no sólo consiste en servir cócteles</h3>
  <p>En La Coctelera de Formentera sabemos lo importante que es un buen servicio para realizar los mejores eventos.  Sabemos que es crucial preparar las mejores bebidas en un tiempo record, con una buena presentación y el mejor sabor, pero también contribuir al momento de felicidad compartida y crear un ambiente que sus invitados recordarán para siempre.
  </p>
  <h2>NUESTROS COMPROMISOS:</h2>
  <h3>Compromiso de Calidad:</h3>
  <p>Nuestros expertos mixólogos utilizan siempre las mejores marcas de licor y los ingredientes más frescos del mercado para obtener la bebida perfecta.  </p>
  <h3>Compromiso de profesionalidad :</h3>
  <p>Somos muy exigentes con la selección de nuestros cocteleros.  Todos tienen experiencia internacional y formación específica. Estamos 100% comprometidos con la calidad del servicio. </p>
  <h3>Compromiso de Excelencia:</h3>
  <p>Nuestros expertos mixólogos utilizan siempre las mejores marcas de licor y los ingredientes más frescos del mercado para obtener la bebida perfecta.  </p>
